@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.fontBebas{
    font-family: "Bebas Neue", sans-serif;

}
.fontLibre {
    font-family: "Libre Baskerville", serif;
}
.fontMulish{
    font-family: "Mulish", sans-serif;
}



/* website color */
.color-primary{
    color: #0767a7;
}

 